body {
    font-family: Georgia, serif;
    font-size: 12pt;
    background-color: rgb(255, 253, 250);
}

a {
    color: royalblue;
}

blockquote {
    border: 0.1em solid black;
    border-radius: 0.5em;
    margin: 1em 0.5em 1em 0.5em;
    padding: 0.5em;
}

blockquote p {
    margin: 0;
}

blockquote strong {
    padding: 0.1em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.container {
    /* border: 6px solid black; */
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
}

.menu {
    /* border: 4px solid green; */
    flex: 0 0 auto;
    width: 20%;
    padding-top: 4em;
}

.menu p {
    display: block;
    margin-left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    /* color: rgb(255, 82, 86); */
}

.menu p.link {
    margin-left: 35%;
}

.menu img {
    margin: 0.2em;
}

.sidebar {
    /* border: 4px solid red; */
    flex: 80 1 auto;
    padding-top: 6em;
}

.sidebar p {
    margin-left: 2em;
    max-width: 20em;
}

.dim {
    color: rgba(0, 0, 0, 0.25);
}

.content {
    /* border: 4px solid yellow; */
    flex: 1 1 auto;
    padding-top: 6em;
}

.content .clampwidth {
    /* border: 2px solid green; */
    max-width: 36em;
}

.post {
    /* border: 1px solid blue; */
    padding-bottom: 1em;
}

.post h3 {
    margin-bottom: 0.5em;
}

.post div {
    margin-top: 1em;
}

.post p {
    /*margin-top: 0.5em;
    margin-bottom: 0.5em;*/
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.gallery .item {
    display: inline-grid;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;
}

.projects .project {
    display: inline-grid;
    position: relative;
}

.projects .project img {
    width: 100%;
    height: 100%;
}

.projects .project .text {
    position: absolute;
    top: 85%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%);
    font-size: 10pt;
    padding: 6px 6px 6px 6px;
    background-color: rgba(255, 255, 255, 0.9);
}

.header {
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 10pt;
}

.video {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
